# **Atajos de Markdown en Google Colab** **(Bonus)**
Atajos más comunes de Markdown para utilizar en **Google Colab**:

# **Títulos**
Para crear un título, debes colocar el número de signos # correspondiente al nivel del título, seguido de un espacio y el texto del título.
**Por ejemplo:**

> # Título nivel 1
> ## Título nivel 2
> ### Título nivel 3

# **Negrita** y *cursiva*
Para resaltar texto, puedes usar los asteriscos o guiones bajos. Si colocas uno a cada lado del texto, este se mostrará en cursiva. Si colocas dos, se mostrará en negrita.
**Por ejemplo:**

*Texto en cursiva*
**Texto en negrita**

# **Listas**
Para crear listas con viñetas, puedes usar un asterisco, un guion o un signo más seguido de un espacio. Para crear listas numeradas, simplemente coloca el número seguido de un punto y un espacio.
 **Por ejemplo:**

- Elemento 1
- Elemento 2
- Elemento 3

1. Elemento 1
2. Elemento 2
3. Elemento 3

# **Enlaces e imágenes**
Para insertar un enlace, debes encerrar el texto del enlace entre corchetes y la URL entre paréntesis. Para insertar una imagen, debes usar una sintaxis similar, pero precediendo la URL con un signo de exclamación. **Por ejemplo:**

[Enlace a Google](https://www.google.com)

<div>
<img src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Cat03.jpg" width="500"/>
</div>

<!-- ![Imagen de un gato](https://upload.wikimedia.org/wikipedia/commons/3/3a/Cat03.jpg) -->

# **Código**
Para mostrar código, puedes encerrarlo entre comillas invertidas ` o crear bloques de código usando tres comillas invertidas al principio y al final. **Por ejemplo:**

`print("Hola mundo")`

# **Citas**
Para citar texto, debes colocar el texto entre el signo de mayor que > y un espacio. Puedes anidar citas utilizando varios signos de mayor que. **Por ejemplo:**
> Esto es una cita
>> Esta es una cita anidada

In [ ]:
print("Hola mundo")

Hola mundo

In [ ]:
nombre = "juan"
apellido = "campias"
print(nombre, apellido)

juan campias

In [ ]:
print("hola mundo", 4.5, False, end="\n")
print("Hola")

hola mundo 4.5 False
Hola

In [ ]:
nombre = "juan"
apellido = "campias"
print(nombre, apellido)

juan campias

In [ ]:
input("Nombre: ")

Nombre: juan

str

In [ ]:
nombre = input("Nombre: ")
apellido = input("Apellido: ")
apellido_minus = apellido.lower()

Nombre: juan
Apellido: CAMPIAS

In [ ]:
print(apellido)

CAMPIAS

In [ ]:
apellido.upper().count("S")

int

In [ ]:
x = "hola"
y = " mundo"

print(x+y)

hola mundo

# **Actividades a resolver en clase:**
## Act1: Calcular el área de un triángulo dado su base y altura. Pedir al usuario los valores de la base y la altura utilizando la función input(). Luego, calcular el área del triángulo e imprimir el resultado.

In [1]:
#Resolver ACT1 en esta celda.

def area_triangulo(base, altura):
    return (base * altura) / 2

base = float(input("Ingrese la base del triangulo: "))
altura = float(input("Ingrese la altura del triangulo: "))

area = area_triangulo(base, altura)
print(f"El área del triangulo es: {area}")

El área del triangulo es: 3.0

## Act2: Convertir una temperatura en grados Celsius a Fahrenheit. Pedir al usuario el valor de la temperatura en Celsius utilizando la función input(). Luego, convertir la temperatura a Fahrenheit utilizando la fórmula F = (C * 9/5) + 32 e imprimir el resultado.

In [ ]:
#Resolver ACT2 en esta celda.

## Act3: Escribir un programa que pida al usuario dos números y muestre por pantalla su división si el segundo número es distinto de cero, o un mensaje de error en caso contrario.

In [ ]:
#Resolver ACT3 en esta celda.

##Act4: Realizar un programa que lea tres números distintos y nos los muestre ordenados de menor a mayor.

In [ ]:
#Resolver ACT4 en esta celda.

##Act5: Escribir un programa que lea una cadena de texto y muestre por pantalla cuántas veces aparece cada letra del alfabeto en la cadena. El programa debe ignorar los espacios y los caracteres no alfabéticos.

In [ ]:
#Resolver ACT5 en esta celda.

cadena = input("Ingrese una cadena de texto: ")
frecuencias = {}

for caracter in cadena:
    if caracter.lower() >= 'a' and caracter.lower() <= 'z':
        caracter = caracter.lower()
        if caracter in frecuencias:
            frecuencias[caracter] += 1
        else:
            frecuencias[caracter] = 1

for letra in 'cadenadetextoestructurada':
    if letra in frecuencias:
        print(f"La letra '{letra}' aparece {frecuencias[letra]} veces en la cadena.")
    else:
        print(f"La letra '{letra}' no aparece en la cadena.")

In [ ]:
# Act5 cambiada

cadena_inicial = input("Ingrese una cadena de texto: ")
frecuencias = {}
cadena = cadena_inicial.lower()

for caracter in cadena:
    if 'a' <= caracter <= 'z':
        if caracter in frecuencias:
            frecuencias[caracter] += 1
        else:
            frecuencias[caracter] = 1

# Respetar snake_case
lista_letras = 'abcdefghijklmnñopqrstuvwxyz'

for letra in lista_letras:
    if letra in frecuencias:
        print(f"La letra '{letra}' aparece {frecuencias[letra]} veces en la cadena.")
    else:
        print(f"La letra '{letra}' no aparece en la cadena.")

##Act6: Escribir un programa que pida al usuario un número y muestre por pantalla su valor absoluto.

In [ ]:
#Resolver ACT6 en esta celda.

##Act7: Escribir un programa que pida al usuario una lista de números separados por comas y muestre por pantalla el producto de dichos números.

In [ ]:
#Resolver ACT7 en esta celda.

##Act8: Escribir un programa que pida al usuario una lista de palabras y las muestre por pantalla ordenadas alfabéticamente.

In [ ]:
#Resolver ACT8 en esta celda.